<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dcsoup" version="1.0.0" targetFramework="net452" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net452" />
  <package id="dvp-net" version="0.6.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net452" />
  <package id="Ninject" version="3.3.4" targetFramework="net452" />
</packages>